*, 
::before, 
::after {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	height: 100%;
	font-family: $font-stack;
}

body,
ul {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	display: inline-block;
	text-decoration: none;
}

ul {
	list-style: none;
}

.container {
	max-width: $max-width;
	padding: 0 5px;
	@include auto;
}