//font
$font-stack: "trueno", Arial, Verdana, Helvetica, sans-serif; 

//color
$crater-brown: #472424;
$buccaneer: #623232;
$bittersweet: #FF7373;
$white: #fff;
$natural-gray: #8A8784;
$turquoise: #4bd8cd;
$black: #000;
$cotton-seed: #bdb9b5;
$congo-brown: #5A3A3A;
$clam-shell: #DCC5B8;

//color opacity
$white-o: rgba(255, 255, 255, .102);

//size
$max-width: 1100px;
