.header {
	background-color: $buccaneer;
	
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

