.top-nav {
	background-color: $crater-brown;

	a {
		padding: 18px;
		color: $white;
		font-size: rem(13);
		transition: background-color .2s linear; 
	
		&:hover {
			background-color: $bittersweet;
		}

		@media (max-width: 425px) {
			padding: 14px;
		}
	}

	&__container {
		justify-content: space-between;

		@media (max-width: 768px) {
			justify-content: center;
		}
	}
}

.nav-list,
.user-interaction,
.top-nav__container {
	display: flex;
	align-items: center;
}

.nav-list {
	@media (max-width: 768px) {
		display: none;
	}
}

.purchases {
	border-right: 2px solid $congo-brown;
}

.shopping-bag {
	font-size: rem(18);
	padding-right: 5px;
}

.quantity {
	color: $clam-shell;
}